h1{
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
	margin-right: 200px;
	margin-left: 200px;
	color: #F8B195;
}

.content{
	margin-top: 20px;
	margin-right: 200px;
	margin-left: 200px;
	color: #F67280;
}

ul{	
	columns: 2;
	column-gap: 0%;
	text-align: left;

}
